body {
    background-color: #f5f5f5;
    font-family: PingFang SC,Lantinghei SC,Microsoft Yahei;
    margin:0;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style-type: none;
}

.header{
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
    background-color: #fff;
    min-height: 91px;
    margin:0;
}

.box1{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    min-height: 90px;
    zoom:1;
}

.logo_box{
    display: block;
    float: left;
    margin-top: 25px;
}

.logo{
    border: 0;
    float: left;
    width: 104px;
    height: 40px;
}

.menu{
    position: absolute;
    height: 100%;
    left: 210px;
}

.menu-item{
    cursor: pointer;
    margin-right: 35px;
    box-sizing: border-box;
    height: 90px;
    line-height: 90px;
    float: left;
    font-size: 18px;
    color: #535353;
    font-weight: 500;
    padding-top: 5px;
}

.city-name:after {
    display: block;
    content: "";
    background-image: url(../img/down_arrow.png);
    width: 8px;
    position: absolute;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat;
    right: 25px;
    top: 40px;
}

.city_box{
    border: solid 1px #ececec;
    left: -250px;
    font-size: 12px;
    line-height: 20px;
    padding: 15px 20px;
    width: 440px;
    position: absolute;
    background-color: #fff;
    z-index: 20;
    top: 45px;
}

.city_box:before{
    content: '';
    left: 120px;
    clear: both;
    position: absolute;
    top: -15px;
    margin-left: -10px;
    background-image: url(../img/up_arrow.png);
    height: 15px;
    width: 24px;
    background-size: contain;
}

.selected{
    padding: 3px 8px;
    background-color: #fff5f8;
    color: #ff7919;
}

.city_box li{
    cursor: pointer;
    color: #333;
    float: left;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: auto;
    line-height: 1.5;
}

.search-bar {
    position: absolute;
    left: 500px;
    top: 30px;
    width: 455px;
}

.input {
    background-image: url(../img/search_icon.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 9px center;
    float: left;
    width: 328px;
    font-size: 14px;
    padding: 8px 8px 8px 34px;
    height: 35px;
    border: solid 2px #ff7919;
    border-right: 0;
    outline: none;
}

.btn-submit {
    float: left;
    display: block;
    height: 35px;
    width: 80px;
    background-color: #ff7919;
    border: 0;
    color: #fff;
    font-size: 16px;
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
}

.right{
    float: right;
    min-height: 67px;
    min-width: 240px;
}

.item-login{
    cursor: pointer;
    margin-top: 23px;
}

.item1 {
    position: relative;
    margin-left: 40px;
    margin-right: 5px;
    height: 44px;
    float: right;
}

.text1{
    cursor: pointer;
    padding-left: 22px;
    line-height: 44px;
    font-size: 16px;
    min-height: 44px;
    min-width: 54px;
}


.login_icon{
    background-image: url(../img/login_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 18px;
    margin-right: 4px;
    left: 0;
    background-size: contain;
}

.user_icon{
    background-image: url(../img/default_head.png);
}

.box{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.left_cate{
    float: left;
    background-color: #2b2f35;
    width: 210px;
    height: 360px;
    display: block;
}

.left_cate li{
    height: 45px;
    line-height: 45px;
    position: relative;
    cursor: pointer;
}

.left_cate li a {
    color: #dbdddf;
    display: block;
    padding-left: 54px;
    font-weight: 300;
}

.left_cate li:before {
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -12px;
    width: 22px;
    height: 22px;
    background-size: 63px 176px;
    background-image: url(../img/sort_icon.png);
}

.left_cate li:after {
    pointer-events: none;
    content: '';
    position: absolute;
    right: 17px;
    width: 6px;
    height: 9px;
    top: 50%;
    margin-top: -5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/cate_right.png);
}

.item-1:before {
    background-position: -40px 0px;
}
.item-2:before {
    background-position: -40px -22px;
}
.item-3:before {
    background-position: -40px -44px;
}
.item-4:before {
    background-position: -40px -66px;
}
.item-5:before {
    background-position: -40px -88px;
}
.item-6:before {
    background-position: -40px -110px;
}
.item-7:before {
    background-position: -40px -132px;
}
.item-8:before {
    background-position: -40px -154px;
}

.ad_pos {
    width: 990px;
    height: 360px;
    float: left;
}

.slide {
    background-color: #fff;
    width: 990px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.prev,.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 9;
    margin-top: -30px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

.fa {
    top: 50%;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-top: -15px;
    color: #fff;
    position: absolute;
}

.fa-angle-left:before {
    content: "\f104";
}

.fa-angle-right:before {
    content: "\f105";
}

.slide-container {
    position: absolute;
    overflow: hidden;
    backface-visibility: hidden;
    left: 0;
    min-height: 360px;
}

.slide-container ul {
    overflow: hidden;
    width: 3000px;
    min-height: 360px;
}

.slide-container ul .item {
    width: 990px;
    height: 360px;
    float: left;
}

.slide-container ul .item a {
    display: block;
    width: 100%;
    height: 100%;
}

.slide-container ul .item a .img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border: 0;
    display: block;
}

.spots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 200px;
    text-align: center;
    margin-left: -100px;
    margin-top: 0;
}

.spots .item {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    margin-left: 5px;
    height: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}


.list-block {
    overflow: hidden;
    margin: 0 auto 24px;
}

.new-block {
    background-color: #fff;
    margin-top: 24px;
    padding-top: 0;
    margin-bottom: 0;
}

.box .block-title {
    padding: 20px 0;
    text-align: center;
    position: relative;
    border-bottom: none;
}

.block-title {
    color: #262626;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 7px;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
}

.box .block-title .title {
    float: none;
}

.block-title .title {
    font-size: 18px;
    margin-left: 1px;
    padding-left: 0;
    color: #333;
    float: left;
}

.box .block-title .title-icon {
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 8px;
}

.box.block-title .title-text {
    font-size: 20px;
    font-weight: 500;
    color: #525252;
}

.box .block-title .more {
    position: absolute;
    border-radius: 29px;
    border: solid 1px #e9e9e9;
    color: #525252;
    font-size: 12px;
    padding: 6px 10px;
    right: 24px;
    text-decoration: none;
}

.block-title .more {
    font-size: 14px;
    padding-right: 8px;
    color: #4b8feb;
    float: right;
}

.box.new-block .items {
    padding-top: 0;
    padding-bottom: 20px;
}

.list-block .items {
    overflow: hidden;
    padding: 20px 0 0 0;
}

.box.new-block .items ul {
    margin-right: 0;
}

.list-block .items ul {
    margin-right: -40px;
    margin-bottom: -20px;
    overflow: hidden;
}

.box.new-block .items .item {
    width: 172px;
    height: auto;
    margin-left: 24px;
    margin-right: 0;
    border: none;
    position: relative;
}

.list-block .items .item {
    position: relative;
    float: left;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 152px;
    height: 262px;
    background-color: #ffffff;
    border: solid 1px #e8e8e8;
}

.list-block .items .item .inner {
    display: block;
    overflow: hidden;
}

.box.new-block .items .item .poster {
    height: 226px;
    margin-bottom: 8px;
}

.list-block .items .item .poster {
    display: block;
    height: 200px;
    background-position: center center;
    background-size: cover;
    margin-bottom: 14px;
}

.list-block .items .item .info {
    position: relative;
    border-top: none;
}

.list-block .items .item .info .title {
    margin-bottom: 5px;
    font-size: 13px;
    color: #262626;
    line-height: 1;
    margin-bottom: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box.new-block .items .item .info .title {
    color: #333333;
    line-height: 1.67;
    font-size: 14px;
    margin-bottom: 0;
}

.list-block .items .item .info .title {
    margin-bottom: 5px;
    font-size: 13px;
    color: #262626;
    line-height: 1;
    margin-bottom: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box.new-block .items .item .info .price {
    font-weight: normal;
    color: #999;
}

.unit{
    font-size: 12px;
    font-weight: 400;
    color: #ff7919;
}

.amount{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.43;
    color: #ff7919;
    padding: 0 2px;
}

.category-block:first-child {
    margin-top: 24px;
}

.box .category-list .block-title, .box .category-block .block-title {
    padding-left: 24px;
    background-color: #fff;
}

.box .category-list .block-title .title, .box .category-block .block-title .title {
    float: left;
}

.box.category-list .block-title .title-icon, .box .category-block .block-title .title-icon {
    width: 30px;
    height: 30px;
    vertical-align: text-bottom;
    margin-right: 8px;
}

.box .category-block .items {
    background-color: white;
    padding: 0 0 24px 24px;
}

.category-block .items ul {
    margin-right: -40px;
}

.category-block .items .item {
    border: 0;
    height: 200px;
    width: 285px;
    margin-bottom: 20px;
    margin-right: 15px;
}

.category-block .items .item.main-item {
    width: 257px;
    height: 352px;
    position: relative;
}

.box .category-block .items .item {
    margin-bottom: 48px;
    margin-right: 25px;
    width: 368px;
}

.box .category-block .items .item.main-item {
    width: 368px;
    height: 466px;
    margin-right: 24px;
    position: relative;
}

.category-block .items .item .poster {
    height: 100%;
    width: 153px;
    float: left;
}

.box .category-block .items .item .poster {
    margin-bottom: 0;
}

.box .items .item.main-item .poster {
    width: 100%;
    height: 100%;
}

.category-block .items .item .info {
    float: left;
    width: 144px;
    height: 100%;
    padding: 10px 8px;
    font-size: 12px;
}

.category-block .items .item.main-item .info {
    width: 230px;
    position: absolute;
    height: 89px;
    color: #fff;
    padding: 14px;
    bottom: 0;
    left: 0;
}

.box .category-block .items .item.main-item .info {
    width: auto;
    left: 0;
    right: 0;
}

.category-block .items .item.main-item .info .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.category-block .items .item .info .title {
    color: #333;
    margin-right: -15px;
}

.category-block .items .item.main-item .info .title {
    font-size: 16px;
    height: 50px;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 100%;
}

.category-block .items .item.main-item .info .title, .category-block .items .item.main-item .info .price {
    color: #fff;
    position: relative;
    z-index: 1;
    left: 0;
    bottom: auto;
}

.box .category-block .items .item.main-item .info .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.35;
    text-align: left;
    color: #ffffff;
}

.category-block .items .item .info .title {
    color: #333;
    margin-right: -15px;
}

.category-block .items .item.main-item .info .title, .category-block .items .item.main-item .info .price {
    color: #fff;
    position: relative;
    z-index: 1;
    left: 0;
    bottom: auto;
}

.box .category-block .items .item .info.other-info {
    padding: 0 0 0 15px;
    width: 199px;
}

.box .category-block .items .item .info.other-info .title {
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 0;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.box .category-block .items .item .info.other-info .price {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    color: #999999;
    bottom: 10px;
}

.footer {
    background-color: #262a31;
    height: 70px;
}

.bottom-bar {
    overflow: hidden;
}

.bottom-bar .links-and-brand {
    position: relative;
    text-align: center;
    padding-top: 20px;
}

.bottom-bar .links-and-brand .footer-logo {
    margin: auto;
    height: 40px;
    padding-left: 55px;
    padding-right: 55px;
}

.title-text1{
    font-size: 20px;
    font-weight: 500;
    color: #525252;
}
.title-text1{
    font-size: 20px;
    font-weight: 500;
    color: #525252;
}

.box-main {
    background-color: #fff;
    padding: 20px 0 20px 20px;
    min-width: 1200px;
    height: 80px;
}

.pay-money-img {
    float: left;
    border: 1px solid #eaeaea;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
}

.icon-pay-weixin {
    background-image: url(../img/weichat_pay.png);
    background-repeat: no-repeat;
    width: 144px;
    height: 40px;
    vertical-align: middle;
}

.icon {
    display: inline-block;
}

.icon-pay-alibaba {
    background-image: url(../img/alibaba_pay.png);
    background-repeat: no-repeat;
    width: 119px;
    height: 42px;
    vertical-align: middle;
}

.s_container{
    width: 1200px;
    margin: 0 auto;
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
}

.order-progress-bar{
    height: 60px;
    width: 100%;
    margin: 40px 0;
    text-align: center;
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
}

.order-progress-bar .step {
    float: left;
    width: 25%;
}

.order-progress-bar .done .step-num {
    background-color: #ff7919;
}

.order-progress-bar .step-num {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 10px;
    text-align: center;
    background-color: #feb078;
    position: relative;
    top: 10px;
}

.order-progress-bar .done .bar {
    border-color: #ff7919;
}



.order-progress-bar .bar {
    width: 0;
    height: 4px;
    border-left: 150px solid #feb078;
    border-right: 150px solid #feb078;
}

.order-progress-bar .done .step-text {
    color: #ff7919;
}

.order-progress-bar .step-text {
    font-size: 14px;
    color: #999;
    display: inline-block;
    margin-top: 10px;
}

.count-down-wrapper {
    width: 100%;
    height: 90px;
    padding-top: 20px;
    margin-bottom: 40px;
    background-color: #fff3f3;
}

.count-down-wrapper .count-down {
    padding-left: 55px;
    min-height: 41px;
    margin-left: 30px;
}

.count-down-wrapper .time-left {
    font-size: 16px;
    color: #666;
    margin-bottom: 4px;
}

.count-down-wrapper .time-left .minute, .count-down-wrapper .time-left .second {
    font-size: 32px;
    color: #ff7919;
    margin: 0 5px;
}

.count-down-wrapper .tip {
    font-size: 14px;
    color: #ff7919;
}

.warning {
    font-size: 12px;
    color: #666;
    padding-left: 18px;
    margin-bottom: 8px;
}

.warning .attention {
    color: #faaf00;
}

.order-table {
    width:1200px;
    border: 1px solid #e5e5e5;
    border-spacing: 0;
    margin-bottom: 60px;
}

.order-table thead {
    background-color: #f7f7f7;
}

.order-table thead th {
    font-size: 16px;
    color: #333;
    width: 25%;
    padding: 14px 0;
    font-weight: 400;
}

.order-table .movie-name {
    font-size: 16px;
}
.order-table td {
    text-align: center;
    padding: 20px 0;
    color: #333;
}

.order-table .showtime {
    font-size: 14px;
    color:#ff7919;
}

.order-table .cinema-name {
    font-size: 14px;
}

.order-table .halll {
    display: inline-block;
    font-size: 14px;
    color: #424242;
    font-weight: 700;
    margin-right: 10px;
    vertical-align: top;
}

.order-table .seats {
    display: inline-block;
    text-align: left;
}

.order-table .seats span {
    font-size: 12px;
    margin-right: 2px;
}

.order-table .seats i {
    font-size: 16px;
    font-style: normal;
    margin: 0 2px;
}

.right {
    text-align: right;
}

.right .price-wrapper {
    font-size: 14px;
    color: #333;
    margin-bottom: 17px;
}

.right .price-wrapper .price {
    font-size: 36px;
    color: #ff7919;
}

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.4);
}

.modal-container .modal {
    width: 460px;
    height: 155px;
    padding: 30px 0;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    text-align: center;
}

.modal-container .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.modal-container .tip {
    font-size: 14px;
    color: #666;
    margin-bottom: 26px;
    margin-top: 12px;
}

.modal-container .ok-btn {
    color: #fff;
    background-color: #ff7919;
    -webkit-box-shadow: 0 2px 10px -2px #f03d37;
    box-shadow: 0 2px 10px -2px #f03d37;
}
.modal-container .btn {
    border-radius: 100px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    width: 260px;
    padding: 0;
    cursor: default;
}

.s4{
    bottom: 36px;
    position: absolute;
    right: 23px;
    text-align: right;
    z-index: 1;
}

.s5{
    font-size: 22px;
    line-height: 22px;
    color: #f60;
    font-weight: bold;
}

.pay_header{
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    margin-top: 0px;
    min-height: 64px;
}

.header-title {
    width: 250px;
    height: 60px;
    float: left;
}

.alipay-logo {
    display: block;
    width: 114px;
    position: relative;
    left: 20px;
    top: 10px;
    float: left;
    height: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/alipay_logo.png);
}

.logo-title {
    font-size: 16px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    border-left: 1px solid #676d70;
    color: #676d70;
    height: 20px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.order-area {
    position: relative;
    z-index: 10;
}

#order {
    position: relative;
    margin-top: 15px;
    z-index: 2;
}

#order.order-bow .orderDetail-base, #order.order-bow .ui-detail {
    border-bottom: 3px solid #b3b3b3;
    background: #eff0f1;
    color: #000;
    padding: 16px 23px;
    position: relative;
}

.commodity-message-row {
    height: 22px;
    overflow: hidden;
    padding-top: 14px;
}

.first{
    max-width: 400px;
    font-weight: 700;
    font-size: 14px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.second{
    max-width: 165px;
    margin-left: 20px;
    float: left;
    margin-top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.payAmount-area {
    bottom: 36px;
    position: absolute;
    right: 23px;
    text-align: right;
    z-index: 1;
    font-size: 22px;
    line-height: 22px;
    color: #f60;
}

.cashier-center-container {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 800px;
    min-height: 460px;
    background-color: #fff;
}

.cashier-center-view {
    position: relative;
    width: 800px;
    float: left;
    margin: 0;
    padding: 0;
}

.qrcode-area {
    margin: 0 auto;
    position: relative;
    width: 300px;
}

.qrcode-header {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    margin-top: 75px;
    margin-bottom: 16px;
}

.qrcode-header-money {
    font-size: 26px;
    font-weight: 700;
    color: #f60;
    text-align: center;
}

.qrcode-img-wrapper {
    position: relative;
    width: 168px;
    height: auto;
    min-height: 168px;
    margin: 0 auto;
    padding: 6px;
    border: 1px solid #d3d3d3;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px #ccc;
}

.qrcode-img-area {
    width: 168px;
    height: 168px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
#username{
    width: 180px;
    height: 35px;
    border-width: 1px;
    text-decoration: none;
}
#password{
    width: 180px;
    height: 35px;
    border-width: 1px;
    text-decoration: none;
}
#cancelLogin{
    background-color: #ff7919;
    border-width:0px;
    color:white;
    font-size: 16px;
    width: 85px;
    height:30px;
}
#cancelLogin:hover{
    background-color: #f9cb54;
}
#submit{
    background-color: #ff7919;
    border-width:0px;
    color:white;
    font-size: 16px;
    width: 85px;
    height:30px;
}
#submit:hover{
    background-color: #f9cb54;
}
#loginTable{
    /*border-spacing: 5px;*/
    margin:0 auto;
}