.search_city{
    width: 1237.95px;
    position: relative;
    margin: auto;
    font-size: 15px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 5px;
}

.search_city .search_city_line {
    width: 1200px;
    position: relative;
    margin: auto;
    line-height: 20px;
    padding-bottom: 5px;
}


.search_city dt {
    float: left;
    line-height: 26px;
    color: #968788;
    text-align: right;
    margin-top: 15px;
    margin-left: 70px;
}

.search_city dd {
    width: 50px;
    float: left;
}

.search_city_line a:hover{
    background-color: #ff7919;
    color: #fff;
}

.search_city dd a {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 8px;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}



.search_city .search_city_num {
    width: 800px;
}


ul {
    list-style: none;
}

.search_city .search_city_num li {
    padding-bottom: 5px;
    float: left;
    margin-right: 24px;
}

.clear:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

.search_city dl:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}



.search_list {
    width: 1200px;
    position: relative;
    margin: auto;
    border: 1px solid #efefef;
    border-top: none;
    padding: 5px 18px;
    background-color: white;
}

.search_list li {
    padding: 25px 0 18px;
    border-bottom: 1px dotted #cecece;
    margin: 0 10px;
}

.search_list li .search_img {
    width: 153px;
    height: 206px;
    overflow: hidden;
    margin-right: 20px;
    float: left;
}

.search_list li .search_img img {
    width: 100%;
    height: 100%;
}

img {
    border: 0;
}

.search_list li .search_txt {
    width: 680px;
    line-height: 24px;
    float: left;
}

.search_list li:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}